// Definitions for HiFiBerry DAC
/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2708";
	
	fragment@0 {
		target = <&i2s>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target-path = "/";
		__overlay__ {
			toxcodec-codec {
				#sound-dai-cells = <0>;
				compatible = "tox,toxcodec";
				mute-gpios = <&gpio 17 1>;
				status = "okay";
			};
		};
	};

	fragment@2 {
		target = <&sound>;
		__overlay__ {
			compatible = "tox,tox-soundcard";
			i2s-controller = <&i2s>;
			status = "okay";
		};
	};

	fragment@3 {
			target = <&gpio>;
			__overlay__ {
				tox_pins: tox_pins {
					brcm,pins = <17>;
					brcm,function = <1>; // out in
					brcm,pull = <1>; // off down
				};
			};
	};

	__overrides__ {
		gpio_mute_pin =  <&tox_pins>,"brcm,pins:0";
	};





};
